{% extends "layout.twig.html" %}
{% import "lib.twig.html" as lib %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <form action="" method="post">
                    <input type="hidden" name="timezone" id="signup-timezone">

                    {{ lib.beginField("name", errors) }}
                        <label for="signup-email">{{ "Name" | trans }}</label>
                        <input type="text" class="form-control" id="signup-name" value="{{ formData.name }}"
                            placeholder="{{ "e.g. John Smith" | trans }}" maxlength="20" name="name">
                    {{ lib.endField("name", errors) }}

                    {{ lib.beginField("email", errors) }}
                        <label for="signup-email">{{ "Email" | trans }}</label>
                        <input type="email" class="form-control" id="signup-email" value="{{ formData.email }}"
                            placeholder="{{ "e.g. john@example.com" | trans }}" maxlength="100" name="email">
                    {{ lib.endField("email", errors) }}

                    {{ lib.beginField("password", errors) }}
                        <label for="signup-password">{{ "Password" | trans }}</label>
                        <input type="password" class="form-control" id="signup-password" value="{{ formData.password }}"
                            placeholder="{{ "min 6 characters with at least one digit" | trans }}" name="password">
                    {{ lib.endField("password", errors) }}

                    {{ lib.beginField("country", errors) }}
                        <label for="signup-country">{{ "Country" | trans }}</label>
                        <select class="form-control" id="signup-country" name="country">
                            <option value=""></option>
                            {% for countryCode, countryName in countryList %}
                                {% if formData.country == countryCode %}
                                    <option value="{{ countryCode }}" selected>{{ countryName }}</option>
                                {% else %}
                                    <option value="{{ countryCode }}">{{ countryName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {{ lib.endField("country", errors) }}

                    <button type="submit" class="btn btn-primary" name="signup">{{ "Signup" | trans }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/js/jstz.min.js"></script>
    <script>
        jQuery(function ($) {
            var timezone = jstz.determine();
            $("#signup-timezone").val(timezone ? timezone.name() : "");
        });
    </script>
{% endblock %}
